include README.md
include requirements.txt
include LICENSE
include MANIFEST.in
include setup.py
recursive-include docs *
recursive-include nomnom *
recursive-include nomnom/static *
recursive-include nomnom/templates *
