{% load url from future %}
{% load i18n %}
<style>
    .object-tools a.nomnomlink {
            background: #999 url("{{ STATIC_URL }}nomnom/img/tooltag-nomnom.gif") top right no-repeat;
                padding-right: 28px;
    }

    .object-tools a.nomnomlink:hover {
            background: #5b80b2 url("{{ STATIC_URL }}nomnom/img/tooltag-nomnom_over.gif") top right no-repeat;
    }
</style>

<li>
	<a href="{% url 'import_data' app_label=cl.opts.app_label model_name=cl.opts.verbose_name|cut:' ' %}" class="nomnomlink">
		{% blocktrans with cl.opts.verbose_name_plural as name %}Import {{ name }}{% endblocktrans %}
	</a>
</li>
