{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Export data" %} {{ block.super }}{% endblock title %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
     <a href="#">APP_NAME</a> &rsaquo;
     <a href="#">MODEL_NAME</a> &rsaquo;
     {% trans "Export data" %}
</div>
{% endif %}{% endblock breadcrumbs %}

{% block content %}
<h1>{% trans "Export MODEL_NAME" %}</h1>
{% endblock content %}
