{% extends "admin/base_site.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Import" %} {{ block.super }}{% endblock title %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ import_file_form.media }}
  {{ block.super }}
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo;
     <a href="{% url 'admin:app_list' app_label=app %}">{{ app|capfirst|escape }}</a> &rsaquo;
     <a href="{{ change_list_url }}">{{ model_plural|capfirst|escape }}</a> &rsaquo;
     {% trans "Import" %}
</div>
{% endif %}{% endblock breadcrumbs %}

{% block content %}
<h1>{% trans "Import" %} {{ model_plural|capfirst }}</h1>
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="{% trans "Upload" %}" /></p>
    </form>
    <br>
<h1>{% trans "Export" %} {{ model_plural|capfirst }}</h1>
	<a href="{% url 'export_data' app_label=app model_name=model export_type='D' %}" class="nomnomlink">{% trans "Export CSV Dump" %}</a>
    <br>
	<a href="{% url 'export_data' app_label=app model_name=model export_type='T' %}" class="nomnomlink">{% trans "Export CSV Template" %}</a>
{% endblock content %}
