{% extends "admin/change_list.html" %}
{% load url from future %}
{% load i18n %}

{% block object-tools %}
    <ul class="object-tools">
      {% if user.is_superuser %}
      <li>
        <a href="dump/">
          {% trans "Dump data" %}
        </a>
      </li>
      <li>
          {% trans "Load data" %}
        </a>
      </li>
      {% endif %}
      <li>
          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
      </li>
    </ul>
{% endblock %}
